
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ordersuccess</title>
</head>
<body>
    <br />
    <br />
    <br />
    <div style="text-align:center">

        <h2>Your order has been Placed successfully.Please click @Html.ActionLink("Here", "Index", "Home") button go to home Page</h2>



    </div>
</body>
</html>
