
@using WatchOnlineShopping.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="div-main">
    <img style="width:145%" src="~/Media/Images/Layout/Home.jpg" />
    </div>
   