
@{
    ViewBag.Title = "ContactUsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact if have any issues</h2>
<h4>Name:Sandhiya</h4>
<h4>Email:sandhiya270101@gmail.com</h4>
<h4>Instaid:wristwatchshopping</h4>
<h4>Facebook:facebook.com/sandhiya27</h4>
<h4>Contact Number:9942206768</h4>

