
@using WatchOnlineShopping.Models;
@model List<News>
@{
    foreach (var item in Model)
    {
        <div class="main-content">
            <div class="content-image">
                <a href="#">
                    <img src='@Url.Content("~/Media/Images/Layout/"+item.Image)' />
                </a>
            </div><!--content-image-->
            <div class="content-title">
                <a href="#">@item.Title</a>
            </div><!--content-title-->           
        </div><!--main-content-->

    }
}
